[2020-11-08 08:05] normanmaurer opened #1 "Make token verification optional"
Toke verification is optional and add an extra round-trip. For some use-cases this is not needed at all, so it should be optional

[2020-11-09 17:30] normanmaurer opened #2 "Consider exposing stats"
Quiche supports stats for quic connections... we should consider exposing these.

[2020-11-10 00:25] thomdev opened #4 "Use Quiche debug logging"
Quiche can produce debug logging (using `quiche_enable_debug_logging()`) that show incoming and outgoing QUIC frames. It would be nice to expose it to Java. Even though the logging handler is global, we should be able to use thread-local variables to control logging per QUIC connection, and show the underlying channel on each log line.

[2020-11-10 13:16] #4 closed

[2020-11-10 13:17] normanmaurer commented on #4
@thomdev I did merge a fix for this... I did just ensure the `QuicheQuicChannel` is using the same `trace_id` in its `ChannelId` as quiche so you can match up the channel to the quiche log. This is cheaper and less ugly.

[2020-11-13 16:49] normanmaurer opened #12 "Use quiche API for trace_id once it is exposed"
See https://github.com/cloudflare/quiche/issues/713

[2020-11-13 16:49] normanmaurer opened #13 "Allow to set stream priority once its exposed in the quiche c API"
See https://github.com/cloudflare/quiche/issues/721

[2020-11-13 17:52] normanmaurer opened #14 "Consolidate fireChannelReadComplete() calls on the QuicheQuicStreamChannel"
At the moment we will call `fireChannelReadComplete()` each time we did call `readable()` once on the stream and there was something that we did read. That can be optimised by aggregate this until we also handle the `QuicheQuichChannel` notification for `channelReadComplete()`

[2020-11-14 08:44] normanmaurer opened #15 "Don't require to connect a DatagramChannel to use it for client side QUIC"
Generally speaking it is not required to connect a `DatagramChannel` to use it for client side QUIC. We should remove this requirement which will also make it easier to share the underlying `DatagramChannel` for different QUIC connections that talk to different remote peers.

[2020-11-14 10:16] normanmaurer commented on #13
See https://github.com/cloudflare/quiche/pull/723/files

[2020-11-14 10:18] normanmaurer commented on #12
https://github.com/cloudflare/quiche/pull/724

[2020-11-14 10:49] normanmaurer opened #16 "Allow to enable / disable peer certificate verification per connect"
See `server_name `:
https://docs.rs/quiche/0.6.0/quiche/fn.connect.html

[2020-11-14 10:51] normanmaurer commented on #2
@kachayev was interested in submitting a PR for this

[2020-11-14 10:52] normanmaurer commented on #15
Working on it.

[2020-11-14 13:13] normanmaurer commented on #15
Fixed by https://github.com/netty/netty-incubator-codec-quic/pull/17

[2020-11-14 13:32] #15 closed

[2020-11-14 20:22] vasantteja commented on #14
Can I assign this pr?

[2020-11-14 20:24] normanmaurer commented on #14
Go for it ... looking forward to review

[2020-11-15 18:33] normanmaurer commented on #2
See https://github.com/netty/netty-incubator-codec-quic/pull/18

[2020-11-16 05:10] kachayev opened #19 "closeFuture is never realized for QuicChannel in QuicClientExample"
When running `QuicClientExample` from tests against QUIC server, this seems to hang forever:

[code]

Even though Quiche debug shows (`ChannelInactive` on stream handler is called in this case):

[code]

Same happens when trying to connect to invalid host/port pair.

[2020-11-16 07:58] #2 closed

[2020-11-16 13:34] normanmaurer opened #23 "Make it easier to set ChannelOptions for streams"
At the moment it is kind of "hard" to set `ChannelOption`s for `QuicStreamChannel`s. While it is possible we should improve this in terms of an easy to use / discoverable API.

[2020-11-16 20:41] #19 closed

[2020-11-17 10:38] normanmaurer opened #26 "More fine-grained exception hierarchy"
At the moment we basically only use `SSLException`, `SSLHandshakeException` and `IOException` for QUIC. It would be better to be a bit more fine-grained here to make it easier for people to understand why something failed.

[2020-11-17 10:40] normanmaurer opened #27 "Add support to delay stream creation when stream limit is reached"
At the moment when a user tries to create a stream and the limit is reached we just fail. It would be nice to support buffering / delay of stream creation if the limit is reached and just try again once we have some room again. We do something similar in our h2 implementation

[2020-11-17 13:37] normanmaurer opened #30 "Add tests for stream limits"
We should have some tests that ensure stream limits are enforced as expected

[2020-11-17 14:30] #1 closed

[2020-11-17 16:02] normanmaurer opened #33 "Add overloads for createStream(...) that also takes a ByteBuf"
Generally speaking we should allow to create a stream and also including data from the start. Let's add some overloads to the `createStream` method for this.

[2020-11-17 18:50] normanmaurer commented on #33
After thinking more about it I wonder if we really need it

[2020-11-17 19:52] normanmaurer opened #34 "Add tests for connected DatagramChannel as well"
All our tests currently use "unconnected" `DatagramChannel` under the covers for the client side. We should ensure we also support "connected" mode.

[2020-11-17 20:07] normanmaurer commented on #14
Let me take this one as it is a bit more complicated

[2020-11-18 08:02] #30 closed

[2020-11-18 09:25] kachayev commented on #26
Should the structure of exception follow the same structure quiche has for [error codes](https://github.com/cloudflare/quiche/blob/a8dc7f106064f3b9188015f14283a8633b8913a8/src/lib.rs#L335-L380)? Or do you have something different on mind?

[2020-11-18 13:43] normanmaurer commented on #33
As quiche will not send a frame anyway before there is some data we can just close this.

[2020-11-18 13:43] #33 closed

[2020-11-18 13:43] normanmaurer commented on #26
Yeah maybe we could just include the exact error as an enum int the message.

[2020-11-18 17:51] #34 closed

[2020-11-19 04:04] vasantteja commented on #14
Sounds good!!I started taking a look at it.

[2020-11-19 05:01] kachayev commented on #26
I'll take a stab on this one tomorrow.

[2020-11-19 07:04] normanmaurer commented on #27
This is somewhat related to https://github.com/cloudflare/quiche/issues/734

[2020-11-19 13:16] normanmaurer commented on #14
I thought more about this and I think at the end this not really matters much as we consolidate flushes anyway. Doing so would make things a lot more complicated. Let's just close one for now.

[2020-11-19 13:16] #14 closed

[2020-11-19 14:34] normanmaurer opened #42 "More efficient of handling stream writability"
At the moment we use `quiche_conn_writable` to check for writable streams. That can be quite wasteful when you have a lot of streams as usually streams are most of the times writable. We should use an alternative implementation.

[2020-11-20 07:35] #42 closed

[2020-11-20 19:13] #26 closed

[2020-11-21 14:10] #23 closed

[2020-11-22 08:16] normanmaurer opened #49 "Consider separating config building and codec building"
We may want to consider separate config building and codec building as you want to use different configurations when creating different client without a new datagramchanel and a new pipeline.

[2020-11-22 08:16] normanmaurer commented on #49
/cc @kachayev wdyt ?

[2020-11-22 08:56] kachayev commented on #49
I'm not sure about the server but for the client this very question did bother me for quite some time. Even right now,  `QuicheQuicChannel::connect` function takes a pointer to configuration and this only time we actually need quiche config. So, I don't see obvious advantages of pairing config builder with codec builder accept, maybe, a user-facing API. If not the part of the codec, would be quich

[2020-11-23 07:01] normanmaurer commented on #49
Let me experiment with this and open a DRAFT. Then we can have a look. I am not sure yet if it would be a good idea or not. I mean generally speaking it makes sense but I wonder if most people really need this and if it would not make things more complex for them.

[2020-11-23 07:24] #16 closed

[2020-11-23 17:00] normanmaurer opened #53 "Remove workaround in streamRecv(...) once next version of quiche is released"
Once https://github.com/cloudflare/quiche/pull/742 lands we should remove the workaround that is currently present:

https://github.com/netty/netty-incubator-codec-quic/blob/138747ff1fbeafb68af6fd240605dfba9358e9c0/src/main/java/io/netty/incubator/codec/quic/QuicheQuicChannel.java#L602

[2020-11-23 18:18] normanmaurer opened #54 "Consider implementing a custom stream map"
See https://github.com/apple/swift-nio-http2/pull/258

[2020-11-24 18:22] normanmaurer commented on #49
Ok I did some experiments and I think we should just keep it as it is. Seems flexible enough while not make things too complex

[2020-11-24 18:29] #49 closed

[2020-11-25 21:45] vasantteja commented on #12
They already pushed the changes at cloudflare side can I work on this. Is there any sample of code which I can use as reference for my implementation. I have some free time over this weekend and I can spend on this one. Please don't mind.

[2020-11-26 06:19] normanmaurer commented on #12
Yes sure 👌

[2020-11-26 09:20] normanmaurer commented on #12
that said its only present in `master` atm... so no release yet to pick up. That said we can do the preparation now

[2020-11-26 10:14] normanmaurer opened #63 "Consider always using QuicStreamFrame"
https://github.com/netty/netty-incubator-codec-quic/pull/62 added support to use QuicStreamFrame. We may want to consider to always use `QuicStreamFrame` and do the `ByteBuf` conversation / semantic changes in a `ChannelHandler` that users can just put in the pipeline. This may remove some complexity in the `QuicheQuicStreamChannel` and follow more the design of netty in general.

[2020-11-30 14:30] normanmaurer opened #66 "Consider stripping debug symbols"
We should consider stripping debug symbols (which is not the default on linux) to reduce the library size.

This should be as easy as using `strip --strip-debug` during build

[2020-11-30 17:08] #66 closed

[2020-12-01 10:52] normanmaurer opened #67 "Add qlog support"
Quiche allows us to enable qlog and so makes it easier to debug quic. We should add support for this.

See
https://github.com/curl/curl/pull/5341

[2020-12-02 01:00] thomdev opened #69 "Add support for configurable local connection ID length"
Currently, all connection IDs must have size 20 for things to work. We should be able to use shorter IDs, including zero-length if the connection ID is not needed to route to the correct endpoint.

- On the server side, we should replace the static `QuicheQuicServerCodec.MAX_LOCAL_CONN_ID` (= 20)  with a field from the codec.
- On the client side, we can already specify an arbitrary connection ID

[2020-12-02 08:42] #69 closed

[2020-12-04 14:56] normanmaurer opened #76 "Add support for Datagram extension"
This is supported by quiche so we may want to consider exposing it

https://tools.ietf.org/html/draft-ietf-quic-datagram-01

[2020-12-05 11:30] valerauko opened #78 "Sanity check for QuicServerCodecBuilder options"
A few days back I accidentally caused it to crash and burn with a rust panic -- but I couldn't repro it with the maven SNAPSHOT. However while playing around with the options trying to remember what I did the other day that broke it (it was a null pointer), I found a different one by setting initialMaxStreamsBidirectional to -1. Trying to initChannel like that resulted in the following:
[code]
No

[2020-12-05 11:38] normanmaurer commented on #78
Yes a PR would be awesome to check for negative values etc

[2020-12-05 17:13] normanmaurer commented on #78
@valerauko I had a few minutes... Check https://github.com/netty/netty-incubator-codec-quic/pull/79

[2020-12-05 17:23] #78 closed

[2020-12-07 08:04] normanmaurer opened #80 "Add profile to cross-compile for aarch64"
Let's add a profile to be able to cross-compile for aarch64 the same as we do for other netty projects

[2020-12-07 08:06] normanmaurer commented on #63
After thinking more about it I think its fine to support both as this will reduce also GC and `ByteBuf` is good enough for most people.

[2020-12-07 08:06] #63 closed

[2020-12-07 10:17] chenzhiguo opened #82 "Quic decouples from TLS"
QUIC and TLS are a good match, but I don't think they should be coupled.
For example, the RPC framework for the Intranet, the network environment is secure. Data transmission does not need to be encrypted, which can degrade performance.
So, for a scenario like this, is it currently possible that they are not bound?

[2020-12-07 10:20] normanmaurer commented on #82
No its not possible... TLS 1.3 are required by spec. https://www.ietf.org/archive/id/draft-ietf-quic-transport-32.html#name-cryptographic-and-transport

[2020-12-07 10:20] #82 closed

[2020-12-07 16:27] valerauko commented on #78
Awesome, thanks! Sorry I wasn't able to put up a fix quicker...

[2020-12-07 16:32] normanmaurer commented on #78
Don't worry ... most important was that you made me aware of it

[2020-12-09 16:21] vasantteja commented on #12
@normanmaurer  I spent a considerable time in understanding the changes that needs to done. Here is my understanding. We need to make netty c code to get trace id and expose it either in nativejndimethods or quiche Java code where we can pick up this trace id and use it everywhere. Please let me know if I got it right.

[2020-12-09 16:22] vasantteja commented on #13
@normanmaurer  I can work on this one also if it's similar to trace id issue.

[2020-12-09 16:26] normanmaurer commented on #12
yes... it would be exposed in `Quiche`.

[2020-12-10 09:22] #76 closed

[2020-12-11 13:24] normanmaurer opened #95 "QuicChannel should respect AUTO_READ"
QuicChannel itself should respect AUTO_READ which means if the user asks to stop reading we should not create any more streams while still multiple data to the existing streams. The existing streams will do their own flow-control management. Beside this we should also respect AUTO_READ for datagram extension here.

[2020-12-15 08:52] normanmaurer opened #97 "Investigate if we can use quiche_conn_new_with_tls to interface with our SslContext implementation"
We should investigate if we can use `quiche_conn_new_with_tls` and so add some "tighter" integration with what we already have in netty.
https://github.com/cloudflare/quiche/blob/master/include/quiche.h#L235

Doing so we may be able to reuse some logic that we have to hook in `TrustManagerFactory` / `KeyManagerFactory` etc.

One downside with this would be that we need to be careful to use the sam

[2020-12-16 09:32] normanmaurer commented on #95
Let's do this for `Datagram`s first.

[2020-12-16 19:56] #95 closed

[2020-12-18 10:20] atropnikov opened #111 "Missed QUICHE_ERR_BUFFER_TOO_SHORT in QuicError enum"
io.netty.incubator.codec.quic.Quiche#QUICHE_ERR_BUFFER_TOO_SHORT is missed in io.netty.incubator.codec.quic.QuicError.

That causes the following error:

[code]

[2020-12-18 10:30] normanmaurer commented on #111
@atropnikov we love PRs if you are up to provide a fix :)

[2020-12-18 12:25] atropnikov commented on #111
@normanmaurer I will provide PR soon. I just wonder if it wasn't added intentionally for some reason.

[2020-12-18 12:41] normanmaurer commented on #111
@atropnikov I guess it can happen that you see the a "too short buffer" in the real world if there is a truncated datagram.

[2020-12-18 14:20] normanmaurer commented on #111
Fixed by https://github.com/netty/netty-incubator-codec-quic/pull/112

[2020-12-18 15:16] #111 closed

[2020-12-23 09:34] chenzhiguo opened #128 "How often is QuicStreamChannel created?"
In the RPC framework invocation scenario, do you need to create a `QuicStreamChannel` for each request?
In the case of heavy traffic, I don't think this is an efficient approach. But if you reuse the original `QuicStreamChannel`, how do you cache it?

[2020-12-23 09:42] normanmaurer commented on #128
This depends on the protocol that sits on top of QUIC... if we are talking about HTT3 each new request / response will use a new stream (as required by the spec).

[2020-12-23 09:42] #128 closed

[2020-12-23 09:42] normanmaurer commented on #128
Other protocols may use "long-living" streams and use these more like "TCP connections" that are long living.

[2020-12-23 09:59] chenzhiguo commented on #128
Can I understand that? The protocol on QUIC that I customized can completely define whether `QuicStreamChannel ` can be reused or not, or the life cycle of `QuicStreamChannel `, there is no limit in QUIC protocol.
For example, I can cache a portion of `QuicStreamChannel ` to improve performance, similar to the thread pool model.

[2020-12-23 10:03] normanmaurer commented on #128
Think of a `QuicStreamChannel` as a `SocketChannel`... its just a stream of bytes. So how you multiplex your protocol on top of it is up to you.

[2020-12-24 23:31] vasantteja commented on #12
@normanmaurer Is it merged to the master branch?

[2021-01-07 08:03] chenzhiguo opened #132 "How to keep the `QuicChannel` alive?"
When creating a `QuicChannel`, set `maxIdleTimeout` to 5m. It means that `QuicChannel` (`QuicheQuicChannel`) will only survive for 5 seconds without data transmission, right?
If so, what should I do to keep the `QuicChannel` alive?
Can only by not setting this parameter(use max value)?

[2021-01-07 08:25] normanmaurer commented on #132
Usually you would build a "heartbeat" into the protocol that sits on top of QUIC. Its the same as you are used too with TCP which may timeout after some period of time as well. The `maxIdleTimeout` is basically just there to ensure connections will be closed at some point if not told explicit before.

[2021-01-07 08:25] #132 closed

[2021-01-07 09:38] chenzhiguo commented on #132
I tried to send data from the client side to the server using `IdleStateHandler`, as follows:
[code]
However, as a result, the server is still periodically disconnected from 'QuicChannel', is my way wrong?

[2021-01-07 09:52] normanmaurer commented on #132
This needs to happen in a stream

[2021-01-07 10:01] chenzhiguo commented on #132
Isn't it? Data is being sent via `QuicStreamChannel` all the time, but the server is still shut down periodically. That's weird.

[2021-01-07 10:11] normanmaurer commented on #132
Enable debug logging to see what happens in the QUIC level

[2021-01-07 10:27] chenzhiguo commented on #132
Part of logs
[code]

[2021-01-11 10:21] chenzhiguo commented on #132
I found that when I commented out `maxIdleTimeout` and created a `StreamChannel` from the client multiple times and sent data, the server didn't receive all of it.

[2021-01-11 11:03] normanmaurer commented on #132
Did you check if the future failed or not ?

[2021-01-11 11:16] chenzhiguo commented on #132
Yes，Modified `QuicClientExample.java`
[code]
Exports success 20 times, but receives "Hello World!" only 4 times.

[2021-01-11 11:26] normanmaurer commented on #132
Can you please share a full reproducer that I can run ?

[2021-01-11 11:45] chenzhiguo commented on #132
OK~
`QuicServerExample.java`
[code]
`QuicClientExample.java`
[code]

[2021-01-12 15:11] chenzhiguo commented on #132
From the above experiment, do you see any problems? @normanmaurer

[2021-01-12 16:13] normanmaurer opened #136 "Remove extra accept method for no token usage"
We can remove our extra method that we use when we don't want to do token verification once https://github.com/cloudflare/quiche/commit/a0cb2f5ba44130abae7c807f9d8079919e8894bb was released

[2021-01-20 12:53] normanmaurer commented on #97
Making good progress here... That said I did go a bit of a different route and implemented stuff directly here with BoringSSL. This also make the deployment store better. Should have a PR up very shortly.

[2021-01-20 19:36] normanmaurer commented on #136
This will also be fixed by https://github.com/netty/netty-incubator-codec-quic/issues/97

[2021-01-25 08:35] normanmaurer commented on #53
Fixed by https://github.com/netty/netty-incubator-codec-quic/commit/dd211ef47dfcd38d9023e588d5877f0c9f937aa5

[2021-01-25 08:35] #53 closed

[2021-01-25 11:19] #12 closed

[2021-01-25 19:17] #13 closed

[2021-01-25 20:11] #97 closed

[2021-01-25 20:12] #136 closed

[2021-01-25 20:16] thomdev opened #150 "QuicCodecBuilder should have a clone() method"
Without cloning, using the same builder and setting properties (e.g channel attributes) from different threads can cause race conditions.

[2021-01-26 01:18] thomdev opened #152 "QuicServerCodecBuilder should copy attributes/options when building a handler"
Attributes and options are stored as maps in `QuicServerCodecBuilder` and they are passed to `QuicheQuicServerCodec` using `Quic.attributesArray()`/`Quic.optionsArray()`, which copies the map entries. If an attribute or option is later modified in the `QuicServerCodecBuilder`, the map entry is updated in place and the change affects all the instances of `QuicheQuicServerCodec` that have already be

[2021-01-26 08:30] #152 closed

[2021-01-26 18:18] normanmaurer commented on #27
This can now be implemented by using https://github.com/cloudflare/quiche/commit/ffc058b6b3a91458ec01ea87351bbf097f363909

[2021-01-28 09:20] normanmaurer opened #162 "Allow to log keys"
Expose https://www.openssl.org/docs/man1.1.1/man3/SSL_CTX_set_keylog_callback.html somehow.

[2021-01-28 10:23] normanmaurer opened #163 "Consider adding support for certificate compression to minimise round-trips for big certs"
https://commondatastorage.googleapis.com/chromium-boringssl-docs/ssl.h.html#Certificate-compression

[2021-01-29 16:05] normanmaurer opened #164 "limiting a burst of outgoing packets"
See https://github.com/cloudflare/quiche/pull/684

[2021-02-02 19:11] normanmaurer opened #175 "Add windows for snapshots"
We need to adjust our workflow to also deploy snapshots for windows.

This is related to https://github.com/netty/netty/pull/8052

[2021-02-02 21:53] #150 closed

[2021-02-03 08:01] #175 closed

[2021-02-14 11:10] JBou opened #184 "Build for Android"
Hello, I'm really looking forward into this awesome project, especially the connection migration. I tried the example code on windows, it's really nice.

Is there a chance to build this package for android? Would like to use it in an android app. I already tried to build the windows package myself, and wanted to add an android build later, but I'm still struggling with building BetterSSL using cma

[2021-02-17 18:51] normanmaurer commented on #184
I honestly have no plans for android atm

[2021-02-19 08:06] normanmaurer commented on #184
That said if there is anyone who want to contribute this I am happy to review it.

[2021-02-19 08:06] #184 closed

[2021-02-19 21:29] normanmaurer commented on #67
See https://github.com/netty/netty-incubator-codec-quic/pull/197

[2021-02-20 16:27] #67 closed

[2021-02-21 19:24] normanmaurer commented on #27
Related to this: https://github.com/netty/netty-incubator-codec-quic/pull/198 ... This way the user can do whatever she/he wants

[2021-02-22 10:15] normanmaurer commented on #27
Let me close this

[2021-02-22 10:15] #27 closed

[2021-02-23 06:42] JBou commented on #184
Thanks for your answer.
I'm already working on this, I'm making good progress.

I successfully compiled the native lib and packaged it. Now I need to pack it into a sample apk and test it out on the device.

After testing it on the device and cleaning up the build process i can make a PR to look over it.

[2021-02-23 06:53] normanmaurer commented on #184
@JBou just to clarify we are not interested to "host" the apk... we are only interested in make it compile for android use.

[2021-02-23 07:59] JBou commented on #184
I'm just making an apk to test it out, a personal sample project.

My intention was to create a maven profile for android and building a "jar" with an android classifier, just like it's already for linux, windows and osx.
So someone could use this dependency on another project. I hoped it could be deployed to the maven repository then. Aren't you interested in this?

If not, someone would always h

[2021-02-23 08:12] normanmaurer commented on #184
If it can be supported by GitHub I guess we could. Never tried this

[2021-02-23 08:27] JBou commented on #184
Thanks a lot! I will try to get this to work in the coming days.

[2021-03-03 15:49] normanmaurer opened #209 "Update usage of PendingWriteQueue"
We should update our usage once netty 4.1.60.Final is out

[2021-03-05 17:54] normanmaurer opened #212 "Support offloading operations from the EventLoop"
We should also support offloading operations from the EventLoop as we do in SslHandler  for Quiche. I am especially thinking about certificate lookup / validation etc.

[2021-03-09 04:36] hyperxpro commented on #212
Aren't we doing too much JNI for QUIC?

[2021-03-09 06:21] normanmaurer commented on #212
It's not so much code to add honestly

[2021-03-09 09:19] #209 closed

[2021-03-10 07:34] normanmaurer opened #217 "Add support for SNI just as we have in netty"
See https://github.com/quicwg/ops-drafts/pull/124/files

[2021-03-23 09:43] normanmaurer commented on #164
This was actually kind of done with this:
https://github.com/netty/netty-incubator-codec-quic/pull/228

[2021-03-23 09:43] #164 closed

[2021-03-24 10:20] #80 closed

[2021-03-30 19:16] JBou opened #243 "Crash on Android when receiving messages: Cause: null pointer dereference"
PR #242 introduces support for Android, but there is still a native crash I haven't been able to solve yet.
Sending messages from the android client to the server works fine, but receiving messages from the server crashes the client app.

Here is the tombstone:
<details>
  <summary>tombstone_07.txt</summary>

[code]
</details>

I compiled a native library **with** debug symbols to decrypt the stac

[2021-03-31 15:30] nicktrav commented on #243
Doing some digging, it looks like quiche is calling `copy_from_slice` [here](https://github.com/cloudflare/quiche/blob/ba90a8dba514c953d6102b812096f9238ec170bb/src/stream.rs#L850), which then calls into the Rust STL [in this `unsafe` method, here](https://github.com/rust-lang/rust/blob/cb75ad5db02783e8b0222fee363c5f63f7e2cf5b/library/core/src/slice/mod.rs#L2782):

[code]

The Rust [docs for `copy_

[2021-04-06 01:05] thomdev opened #246 "Add support for pre-shared keys"
Client and server should have the option to use out-of-band pre-shared keys rather than certificates.

https://commondatastorage.googleapis.com/chromium-boringssl-docs/ssl.h.html#Pre-shared-keys

[2021-04-06 14:08] normanmaurer commented on #246
Yes! I will add support for it.

[2021-04-06 14:10] normanmaurer commented on #243
@JBou can you check what the memory address and len of the buffer is that is passed to `quiche_conn_stream_recv` ?

[2021-04-06 20:02] JBou commented on #243
https://github.com/netty/netty-incubator-codec-quic/blob/2fd0453a891b6febebde1cb1d7b0ac4ba84ac4da/src/main/java/io/netty/incubator/codec/quic/QuicheQuicChannel.java#L755-L758
the memory address is `0`, buffer.array.length is `2048`

https://github.com/netty/netty-incubator-codec-quic/blob/2fd0453a891b6febebde1cb1d7b0ac4ba84ac4da/src/main/java/io/netty/incubator/codec/quic/Quiche.java#L526-L529
buf

[2021-04-14 19:21] normanmaurer commented on #243
@JBou I think I know what the problem is... stay tuned

[2021-04-15 23:04] JBou commented on #243
That sounds great 🥳 I'm looking forward to it

[2021-04-19 06:44] normanmaurer commented on #243
@JBou should we fixed by https://github.com/netty/netty-incubator-codec-quic/pull/247

[2021-04-19 07:42] #243 closed

[2021-04-19 16:45] JBou commented on #243
I can confirm that the issue with the memoryAddress being null is resolved, but there is still another exception being thrown:

[code]

It happens on [this line](https://github.com/JBou/netty-quic-demo/blob/e785e463474dff514d3c1599bff6d7e529f895de/android/src/main/java/net/patzleiner/nettyquicdemo/MainFragment.java#L115)

[2021-04-19 16:57] normanmaurer commented on #243
@JBou that makes sense you may release the buffer before you call toString(). so either call toString() before or move the release() call into the other thread as well.

[2021-04-20 15:57] JBou commented on #243
Oh, yes of course. Thanks a lot! It's working now on Android.

[2021-04-21 06:53] normanmaurer commented on #246
As it turns out this is only for TLS1.2 and so not what we need... currently investigating how to add support for TLS1.3 which is used for QUIC.

[2021-04-21 13:23] normanmaurer commented on #243
@JBou perfect!

[2021-04-25 07:12] vovgou opened #250 "How do I send a ping frame and a goaway frame?"
Hi,
What should I do if I want to keep the connection alive? I did not find a way to send a ping frame.
In addition, I may also want to send and receive a goaway frame, is this possible?
Thank you!

[2021-04-25 10:38] QNENet opened #251 "Sending ByteBuf example"
The netty quic example uses HTTP 0.9 as an application protocol but seems to, in effect, send and receive a bytebuf msg.
Does the application protocol have an effect on the byteBuf?
Is the underlying quic/quiche code capable of handling plain byte payloads rather than http?
I have tried altering the netty example to just wrap a byte array and set the application protocol to null, but this does not

[2021-04-25 20:36] QNENet commented on #251
On investigation it seems http is baked into the codec although I have not found where http 0.9 is handled.
Possibility is to use the new netty/quic datagram extension.

[2021-04-26 06:23] normanmaurer commented on #251
@QNENet the QUIC implementation really only cares about bytes. Using "HTTP/0.9" was just an example. The important bit is that both peers need to agree on the protocol that is used.

[2021-04-26 06:23] #251 closed

[2021-04-26 06:26] normanmaurer commented on #250
At the moment its not possible to explicit send a PING frame. See also: https://github.com/cloudflare/quiche/issues/635

For a go away frame you would use `shutdownOutput(err,....)`. Check the javadocs for `QuicStreamChannel`

[2021-04-26 09:34] normanmaurer commented on #246
We may need to wait for BoringSSL to add support /cc @davidben

[2021-05-05 07:58] remmerw opened #263 "QuicStreamAddress feature request (real SocketAddress)"
Does it make sense, that the QuicStreamAddress  also contains the real SocketAddress beseides the long identifier?
Would be nice for my project.

[2021-05-05 08:10] normanmaurer commented on #263
@remmerw not sure the really would make sense as a quic connection could migrate to another socket during life-time

[2021-05-05 12:50] remmerw commented on #263
And? When asking for the stream address, alway getting the current socket
address.
But I guess there is no API for it (I mean from quiche)

Am Mi., 5. Mai 2021 um 10:11 Uhr schrieb Norman Maurer <
***@***.***>:

[2021-05-05 13:02] normanmaurer commented on #263
Maybe you can help me and explain why it would be useful for you and I can better understand how to help :) ?

[2021-05-05 14:33] remmerw commented on #263
Yes, I will try to explain.
I am working on a decentralized application (IPFS context). Peers telling
each other their IP addresses, so that
the other peer knows its "real" IP address (is of course not working in all
cases).
So when there is a connection to a peer (probably behind a NAT), I will
tell him by evaluating the
"remoteAddress". The other peer knows after asking several other peers,
whet

[2021-05-07 11:10] remmerw commented on #263
Some extra info,

I run quiche QUIC as a client, I have configured the Handler, so that
remote initiated streams should be possible.

ChannelHandler codec = new QuicClientCodecBuilder()
        .sslContext(IPFS.CLIENT_SSL_INSTANCE)
        .maxIdleTimeout(30, TimeUnit.SECONDS)
        .initialMaxData(*10000*)
        .initialMaxStreamDataBidirectionalLocal(10000)
        .initialMaxStreamDataBidir

[2021-05-11 03:30] thomdev opened #275 "QuicheQuicStreamChannel should implement toString()"
`QuicheQuicStreamChannel.toString()` calls `Object.toString()`. Before 0.0.8.Final, `QuicheQuicStreamChannel` used to extend `AbstractChannel`, which was providing a "free" implementation of `toString()` showing the `ChannelID` and both endpoints. This was handy when using `LoggingHandler` inside the stream pipeline.

We should implement a better `QuicheQuicStreamChannel.toString()` that shows the

[2021-05-12 09:22] #275 closed

[2021-05-18 09:39] normanmaurer opened #286 "Prepare for connection migration support"
https://github.com/cloudflare/quiche/pull/898 adds the first APIs that will be needed for support connection migration later. Let's investigate if we can use these or if there are any gotchas

[2021-05-26 12:29] abezhovets opened #293 "QuicheQuicChannel#remoteAddress0() return null"
After
https://github.com/netty/netty-incubator-codec-quic/commit/f77fa48feabcfcc9c1ba3687c5422bb929b0e5fb#diff-a0a71cfa90a505089fbb66241a792f22b303550a5a27db47059471353cfa0575
remoteAddress() return null instead of address.
Is this normal behavior?
I use this example to reproduce
https://github.com/netty/netty-incubator-codec-http3/blob/ea2fb1c699e88db45db93e6915ff4829cf93305f/src/test/java/io/net

[2021-05-26 13:25] normanmaurer opened #294 "Switch to junit5"
There is no reason to not use junit 5, lets migrate

[2021-05-27 17:14] normanmaurer commented on #294
Fixed https://github.com/netty/netty-incubator-codec-quic/pull/295

[2021-05-27 17:14] #294 closed

[2021-05-27 17:14] normanmaurer commented on #293
Will have a look. Thanks!

[2021-05-28 06:52] normanmaurer commented on #293
@abezhovets can you show me what exact changes you did ?

[2021-05-28 07:06] normanmaurer commented on #293
hmm I cant reproduce with a unit test. Please show me the diff you used for the example

[2021-05-28 07:22] normanmaurer commented on #293
@abezhovets actually I just was able to reproduce on the server side. Here is the fix https://github.com/netty/netty-incubator-codec-quic/pull/296

[2021-05-28 07:58] #293 closed

[2021-06-08 19:19] remmerw commented on #263
Hint: After an update of the source code (for a new try),
there is an issue regarding Android support (if this a goal anyway to support it)

In the class "SockaddrIn" IP4,IP6 addresses are written to a "memory" using
functionality which is not available on an Android system

Example:
PlatformDependent.setMemory(memory, Quiche.SIZEOF_SOCKADDR_IN, (byte) 0);
The PlatformDependent class uses a class

[2021-06-22 10:42] abezhovets commented on #293
@normanmaurer sorry, but the problem is still reproducing for me
is it possible to reopen the issue, or should I create a new one with the sample code?

[2021-06-22 10:45] normanmaurer commented on #293
@abezhovets I will need a reproducer :(

[2021-06-22 11:13] abezhovets commented on #293
@normanmaurer
There is a problem that a APPLICATION_CLOSE error was added for example, but this does not really affect the reproduction.
https://github.com/netty/netty-incubator-codec-http3/issues/152

Server example

[code]

Test client - canary with command line

[code]

For self signed cert
 --ignore-certificate-errors-spki-list=
 value can be obtained by
[code]

Full log
[code]

Is that enough

[2021-06-22 16:40] abezhovets commented on #293
Maybe this is a chrome problem, because through another client it works fine.

[2021-06-23 12:51] normanmaurer commented on #286
This was done

[2021-06-23 12:51] #286 closed

[2021-07-03 18:59] QNENet opened #303 "Error introduced between V12 and V13"
I am using netty quic for a P2P application.
Apache Karaf 4.3.2
OSGi 7.0.0
Linux Mint 20
Netty 4.1.62.Final
All works well in my code with V12 but V13 results in
[code]

[2021-07-03 19:11] QNENet commented on #303
Upgrade Netty to Netty 4.1.65.Final fixes the issue.
V15 works OK in my case.

[2021-07-03 19:11] #303 closed

[2021-07-06 13:26] normanmaurer commented on #263
The android issue was fixed

[2021-07-29 18:59] normanmaurer commented on #217
Was fixed by https://github.com/netty/netty-incubator-codec-quic/pull/313

[2021-07-29 18:59] #217 closed

[2021-08-11 10:08] Ace931124 opened #318 "I want to know how the server initiated streams?"
the server code,etc.
// ChannelHandler that is added into QuicChannel pipeline.
                .handler(new ChannelInboundHandlerAdapter() {
                    @Override
                    public void channelActive(ChannelHandlerContext ctx) throws InterruptedException {
                        QuicChannel channel = (QuicChannel) ctx.channel();
                        // Create streams etc..

[2021-08-11 16:25] NiteshKant commented on #318
Maximum number of streams of each type is bound by [initial transport parameters](https://datatracker.ietf.org/doc/html/rfc9000#section-18.2) and [`MAX_STREAMS`](https://datatracker.ietf.org/doc/html/rfc9000#section-19.11) frames. Additionally these limits are controlled by the peer receiving data on these streams, so in this case you will have to see what are these limits set by the client.

See

[2021-08-12 02:02] Ace931124 commented on #318
Oh,it work.Thank you very much.

[2021-08-12 02:02] #318 closed

[2021-08-19 10:23] Ace931124 opened #321 "What's the best practices to implement keepalvie the channel ?"
My design is to use multiple QuicStreamChannels to avoid head-of-line blocking. When the Channel is write idle, I will send keepalive packets, but I can only register a KeepaliveHandler with each QuicStreamChannel, which leads to waste of network traffic.I want to know the best practices.Can you give me some suggestions？ Thank you.

[2021-08-19 17:45] NiteshKant commented on #321
I am assuming the keepliave packets mentioned here are [`Quic PING frames`](https://datatracker.ietf.org/doc/html/rfc9000#section-19.2) and you are aware of the [Idle Timeout section](https://datatracker.ietf.org/doc/html/rfc9000#section-10.1) in the spec

You can register handlers on the parent `QuicChannel`, as an example see this:

https://github.com/netty/netty-incubator-codec-quic/blob/main/s

[2021-08-19 18:33] normanmaurer commented on #321
Unfortunally `quiche` currently does not really expose a way to send a PING frame explicit and will just handle stuff under the hood:

https://github.com/cloudflare/quiche/issues/635

[2021-08-19 20:04] NiteshKant commented on #321
Aaah TIL, thanks!

[2021-08-20 01:56] Ace931124 commented on #321
Currently，I can only use quicStreamChannel to send my custom frame, but the parent channel can't.So, I will wait the quiche support,thanks.

[2021-09-01 11:28] abezhovets commented on #263
@normanmaurer
Is it possible to give access to the `remote` field in the `QuicheQuicChannel`? For my project, it would be useful to determine the country of connection.

[2021-09-02 07:11] Ace931124 opened #326 "Is there a performance test report ?"
Is there a performance test report, Thanks.

[2021-09-08 02:02] Ace931124 commented on #326
I use jmeter to test the performance,and I found that when the network drop rate at 2%,the performance is highest.But I don't know the reason.Can you get some suggestions ? Thanks

[2021-09-08 02:03] Ace931124 commented on #326
Oh, I test the througthput.

[2021-09-10 07:36] QNENet commented on #263
I am using netty quic in a p2p network.
As Australian NBN connection do not necessarily have fixed IP Addresses it is necessary for destination nodes to advise source nodes if their Ip address has changed and is also necessary for the network discovery process to work.
I have discovered that the InetSocketAddress of the source node is kept in a sender field of netty quic stream and it would be mos

[2021-09-24 04:27] lostk1ng opened #333 "How to decrypt QUIC packet with wireshark？"
I am running QuicClientExample/QuicServerExample, and want to analyse the QUIC packet. Is there a way to decrypt QUIC packet using wireshark?

[2021-09-29 10:35] lostk1ng commented on #162
Hi, is there a way to log keys now? I see this closed merge: https://github.com/netty/netty-incubator-codec-quic/pull/60 and find this issue.

[2021-09-29 11:51] normanmaurer commented on #333
not at the moment

[2021-09-29 11:52] normanmaurer commented on #326
There is nothing at the moment. I did test the performance before by writing my own client / server

[2021-09-29 11:52] #326 closed

[2021-10-03 16:23] hyperxpro commented on #333
Try using `PcapWriteHandler`. Wireshark supports QUIC if it's decrypted. Though, I am not sure how to insert `PcapWriteHandler` into `QuicChannel`. @normanmaurer Am I missing something?

[2021-10-04 13:05] #263 closed

[2021-10-08 06:45] wenlongkang opened #337 "0-RTT supported ？"
Hi，I did not find the relevant code, Is 0-RTT supported now?

[2021-10-08 13:54] violetagg opened #338 "QuicConnectionAddress#toString doesn't show the actual connection id"
With the current implementation we have:
https://github.com/netty/netty-incubator-codec-quic/blob/57af932403b6c9861667011f266ade90faf68476/src/main/java/io/netty/incubator/codec/quic/QuicConnectionAddress.java#L67-L74

Which results in showing the connection `toString` like this:

[code]

Is that intentional?

For example for `traceId` we have better string representation `(a86d995442569cff63623df

[2021-10-11 07:49] #338 closed, assigned to nobody

[2021-10-14 02:44] lostk1ng commented on #333
Supported by https://github.com/netty/netty-incubator-codec-quic/pull/343

[2021-10-14 02:44] #333 closed

[2021-10-20 09:25] lostk1ng commented on #337
I am currently investigate how to support 0RTT on client side and found some works already be done [here](https://github.com/cloudflare/quiche/pull/919) . But when I try to call the `quiche_conn_session` function via JNI to get ssl session, it returns null which seems does not work.

By looking into the [quiche source code](https://github.com/cloudflare/quiche/pull/911/files#diff-f229bc4b874c8edcd

[2021-10-26 07:05] wujincheng2333 opened #350 "Can not running in windows server 2012 R2"
2021-10-26 13:30:04.305 DEBUG   [           main] i.n.u.i.logging.InternalLoggerFactory    [  63]   :Using SLF4J as the default logging framework
2021-10-26 13:30:04.352 DEBUG   [           main] i.n.util.internal.PlatformDependent0     [ 460]   :-Dio.netty.noUnsafe: false
2021-10-26 13:30:04.352 DEBUG   [           main] i.n.util.internal.PlatformDependent0     [ 954]   :Java version: 8
2021-10-2

[2021-10-26 07:20] #350 closed, assigned to nobody

[2021-10-28 09:46] abezhovets opened #351 "The server closes the connection only some time after receiving the `APPLICATION_CLOSE`"
The server receives `APPLICATION_CLOSE` from the client at 12:48:40, but closes the connection only at 12:49:54.

[code]

Is it possible to close the connection immediately after receiving the `APPLICATION_CLOSE` from the client?

<details><summary>Full log for one connection</summary>
<p>

[code]

</p>
</details>

[2021-10-29 09:50] #351 closed, assigned to nobody

[2021-11-08 15:32] #321 closed

[2021-11-10 08:27] normanmaurer commented on #337
Server support was added in https://github.com/netty/netty-incubator-codec-quic/pull/356.

[2021-11-10 08:27] normanmaurer commented on #337
@lostk1ng will have a look

[2021-11-10 09:15] normanmaurer commented on #337
@lostk1ng yes... I think we need to port over this:

https://github.com/netty/netty/commit/7d4aaa268b8a536f61fbc7711365147c58238745#diff-d92a33e50c3e6fc003999ef8be7441f18b35cb0e36b295e0ef685e0b5f860da8

Makes sense ?

[2021-11-10 11:31] lostk1ng commented on #337
@normanmaurer Thanks, I will look into it later.

[2021-11-10 12:11] normanmaurer commented on #337
@lostk1ng cool... Let me know if you need any help. BTW what do you use QUIC for ?

[2021-11-10 14:36] lostk1ng commented on #337
@normanmaurer Thanks, I will open a pr to support 0RTT on client side which really depends on my working progress, I think  we can discuss it when the pr is ready.

Our IM gateway server is powered by netty using TCP, now we are trying to make some experiment on changing TCP to QUIC as QUIC IETF v1 is officially released this year.

[2021-11-10 14:42] normanmaurer commented on #337
Is it oss by any chance ?

[2021-11-10 15:48] lostk1ng commented on #337
Nope. It is a project inside our [company](https://en.wikipedia.org/wiki/Sina_Weibo) and it is not open sourced.

[2021-11-17 06:42] wujincheng2333 opened #358 "when QuicheQuicChannel is timeout, QuicheQuicCodec connections don't remove"
[code]

fix

https://github.com/wujincheng2333/netty-quic

QuicheQuicChannel.java

[code]

[code]
QuicheQuicCodec.java

[code]

QuicheQuicServerCodec.java

[code]

[code]

[2021-11-17 08:01] normanmaurer commented on #358
@wujincheng2333 Can you please open a PR with the proposed change ? I dont get it :(

[2021-11-17 10:24] wujincheng2333 commented on #358
yes

https://github.com/netty/netty-incubator-codec-quic/pull/359#issue-1055953935

[2021-11-22 08:19] #358 closed

[2021-11-24 09:26] violetagg opened #361 "Netty QUIC Codec versions 0.0.21.Final and 0.0.22.Final for windows are not available on Maven Central"
I cannot find `Netty QUIC Codec` versions `0.0.21.Final` and `0.0.22.Final` on Maven Central. Is that intentional?

[2021-11-24 09:46] normanmaurer commented on #361
@violetagg you might have missed that the artifactId changed: https://netty.io/news/2021/11/12/quic-0-0-21-Final.html

[2021-11-24 10:46] normanmaurer commented on #337
@lostk1ng you already started with this ? If not I might pick it up

[2021-11-24 11:14] violetagg commented on #361
@normanmaurer I've missed that change. Thanks a lot.

[2021-11-24 11:55] lostk1ng commented on #337
@normanmaurer I have to prepare a presentation and have no more time recently , so it is no complete yet. I have done some simple work, and will start a pr tomorrow, can you help to finish it?

[2021-11-24 12:21] normanmaurer commented on #361
Hmm if that's the case it's a problem with the release process... let me check

[2021-11-25 09:04] normanmaurer commented on #361
Released 0.0.23.Final which now also includes windows again https://repo1.maven.org/maven2/io/netty/incubator/netty-incubator-codec-native-quic/0.0.23.Final/

[2021-11-25 09:04] #361 closed

[2021-11-25 09:44] violetagg commented on #361
@normanmaurer Thanks a lot

[2021-11-25 14:13] juddgaddie opened #363 "Consider adding multi-arch uber deployable"
When this is no longer experimental, having a uber jar that includes the binaries for all supported platforms and then selects the appropriate one, significantly simpliifies deployment.

Similar to
[code]

[2021-11-27 15:13] normanmaurer commented on #337
client side was merged as well which means all is in place now:

https://github.com/netty/netty-incubator-codec-quic/pull/362

[2021-11-27 15:14] #337 closed

[2021-11-27 18:53] normanmaurer commented on #337
Would be cool to have you listed here:

https://github.com/netty/netty/wiki/Adopters

[2021-11-28 09:48] lostk1ng commented on #337
@normanmaurer Added!

[2021-11-30 09:43] normanmaurer commented on #363
@juddgaddie what is the problem with just including all of the different artifacts with the classifiers directly ?

[2021-12-03 11:53] lostk1ng opened #370 "Cache and reuse token on client side"
Currently, when using 0-RTT we use `NoValidationQuicTokenHandler` on server side which do no validation to avoid `retry packet`. Should we support token cache and reuse on client side, so we can do address validation on first Initial packet without `retry packet`?

With a simple investigation, some works need to be done:
1. quiche C-API should support set token to Initial packet.
2. quiche should

[2022-01-07 03:35] zipper01 opened #377 "SslContext is compulssory"
Without `.sslContext(context)` the `new QuicClientCodecBuilder()` hangs. My app data is already encrypted I don't want the SSL encryption. (another case the UDP carrier layer may be in IPSEC turnnel?)

        <dependency>
            <groupId>io.netty.incubator</groupId>
            <artifactId>netty-incubator-codec-native-quic</artifactId>
            <version>0.0.24.Final</version>

[2022-01-07 09:37] normanmaurer commented on #377
@zipper01 we currently don't support QUIC without TLSv1.3. That said I think wee should at least throw an exception in this case to fail hard.

[2022-01-07 11:00] normanmaurer commented on #377
Actually we should already throw if `sslContext(...)` / `sslEngineProvider(...)` was not called and you calll `build()`. Is this not the case for you ?

[2022-01-18 16:14] zipper01 opened #379 "`A fatal error has been detected by the Java Runtime Environment` when transfering large data"
I was trying to use quic for relaying data between two relay agents, small data is OK, but large data got the Java fatal error.
$ ls -tl
-rw-r--r-- 1 root root  6080108 Jan 16 22:02 log.txt20220116220259.bak
$ cat log.txt20220116220259.bak //<----relaying the `cat` output causes problem at the sending side.

log file:
[hs_err_pid16792.log](https://github.com/netty/netty-incubator-codec-quic/files/

[2022-01-18 16:32] zipper01 commented on #377
Thank you. Exception was thrown. I think this is because ssl is enforced by quiche?

[2022-01-18 16:32] #377 closed

[2022-01-18 19:10] normanmaurer commented on #377
Yes

[2022-01-20 08:57] zipper01 commented on #379
It seems this is caused by `EmbeddedChannel.writeInbound` not the quic codec -- I'm trying to use EmbeddedChannel as carriers of quicChannels other than using the udpChannel directly, because I want to use the same udp port for connecting as a client for connecting to the Web Server and listening as a server for P2P connection, by prepend a header for duplexing. I searched and [this link](https://

[2022-01-20 13:09] normanmaurer commented on #379
Do you have a reproducer I can run ?

[2022-01-22 22:43] xtuyaowu opened #382 "got error when run the test"
hi guys：
    got error when run the test thanks for help
    run：
    1、QuicServerExample.java、QuicClientExample.java
    2、error:
          Exception in thread "main" java.util.concurrent.ExecutionException: java.nio.channels.ClosedChannelException
	at io.netty.util.concurrent.DefaultPromise.get(DefaultPromise.java:350)
	at example.QuicClientExample.main(QuicClientExample.java:72)
Caused by: java

[2022-01-23 16:00] zipper01 commented on #379
@normanmaurer  -- Thank you for the patience sir. I made some changes trying to fix and the "fatal error" is gone, need to dig more to reproduce the exact problem. But now the problems are:

1). The no-EmbeddedChannel version (QuicClientExample1 bellow) is OK, but at server side the size of the received file is smaller than the sent file and the size delta is at random.

2). Using EmbeddedChannel

[2022-01-25 09:48] zipper01 commented on #379
After some study and try, point 2) is solved by setting `QuicChannelOption.READ_FRAMES` to `true` for the streamChannel at both side; calling `shutdownOutput()` to send FIN/RESET_STREAM from the sender; calling the same to acknowledge it after receiving the FIN.

Suggest to have add a boolean argument for `QuicStreamChannel.close()` and default to true to run this handshake automatically;

Point 1

[2022-01-27 11:00] zipper01 commented on #379
It seems this quic lib tightly binds to the udp carring channel for flow control when sending. I tried to use `isWritable()` and `channelWritabilityChanged` to control the writing speed but the connect was still broken after a while, in the case that the embededChannel mux layer sits at the middle of the udp channel and the quic channel (QuicClientExample2). I don't know if there is a convenient w

[2022-02-08 10:22] #382 closed

[2022-02-08 11:29] xtuyaowu opened #386 "java server python client error"
hi guys：
i want to http3_client.py as client connect to java netty server but got error

java netty server code:
https://github.com/lostk1ng/quictest
public final class QuicServerExample {

private static final InternalLogger LOGGER = InternalLoggerFactory.getInstance(QuicServerExample.class);

private QuicServerExample() { }

public static void main(String[] args) throws Exception {
    SelfSigne

[2022-02-08 11:32] normanmaurer commented on #386
From the error it looks like the application protocol of your python client and the java code not align.

[2022-02-08 11:32] #386 closed

[2022-02-11 06:48] xtuyaowu commented on #386
@normanmaurer still fail can you help to check?

[2022-02-11 06:49] xtuyaowu opened #387 "From the error it looks like the application protocol of your python client and the java code not align."
From the error it looks like the application protocol of your python client and the java code not align.

_Originally posted by @normanmaurer in https://github.com/netty/netty-incubator-codec-quic/issues/386#issuecomment-1032509089_

still fail can help to check?
https://github.com/aiortc/aioquic/issues/264

[2022-02-18 04:44] zipper01 commented on #379
Close as this is not a bug.

[2022-02-18 04:44] #379 closed

[2022-02-20 05:04] #387 closed

[2022-02-20 05:04] xtuyaowu commented on #387
after change the protocol question solve

[2022-02-20 05:09] xtuyaowu opened #390 "java.nio.channels.ClosedChannelException"
hi
   server client how to keep alive or keep connect

20, 2022 12:53:38 下午 io.netty.bootstrap.AbstractBootstrap setChannelOption
warn: Unknown channel option 'SO_BACKLOG' for channel '[id: 0xe49381da]'
20, 2022 12:53:38 下午 io.netty.bootstrap.AbstractBootstrap setChannelOption
warn: Unknown channel option 'SO_KEEPALIVE' for channel '[id: 0xe49381da]'
20, 2022 12:54:01 下午 QuicServerExample$2 lambda

[2022-02-21 02:23] xtuyaowu commented on #390
Expand .maxIdleTimeout(5000, TimeUnit.HOURS) solve

[2022-02-21 02:23] #390 closed

[2022-03-29 02:16] PeakerChen opened #393 "How to build netty-incubator-codec-native-quic？"
I try to build netty-incubator-codec-native-quic, but always fail.

Are there build documents about netty-incubator-codec-native-quic？

[INFO] Reactor Summary for Netty/Incubator/Codec/Parent/Quic 0.0.27.Final-SNAPSHOT:
[INFO]
[INFO] Netty/Incubator/Codec/Parent/Quic .................. SUCCESS [  3.108 s]
[INFO] Netty/Incubator/Codec/Classes/Quic ................. SUCCESS [  8.557 s]
[INFO] Netty/

[2022-03-29 04:53] normanmaurer commented on #393
Please show the full console output

[2022-03-31 02:36] chenzhanfeng commented on #393
Setting project property: env.JAVA_MAIN_CLASS_68705 -> org.apache.maven.wrapper.MavenWrapperMain
Setting project property: env.TERM -> xterm-256color
Setting project property: env.XPC_SERVICE_NAME -> 0
Setting project property: env.PWD -> /Users/chenzhanfeng/Documents/Java-App/netty-incubator-codec-quic
Setting project property: env.LC_CTYPE -> zh_CN.UTF-8
Setting project property: env.HOMEBREW_PR

[2022-03-31 07:38] normanmaurer commented on #393
`brew install ninja`

[2022-03-31 07:42] normanmaurer commented on #393
Also check if https://github.com/netty/netty-incubator-codec-quic/pull/394 will make things easier

[2022-04-01 01:41] chenzhanfeng commented on #393
A new compilation error has occurred, build Quiche error, cc and ld error in architecture arm64。

main:
     [echo] Clone Quiche
     [exec] Cloning into '/Users/chenzhanfeng/Documents/Java-App/netty-incubator-codec-quic/codec-native-quic/target/quiche-source'...
     [exec] Submodule 'boringssl' (https://github.com/google/boringssl.git) registered for path 'quiche/deps/boringssl'
     [exec] Clon

[2022-05-11 13:24] normanmaurer commented on #370
@lostk1ng any update on this one ?

[2022-05-16 07:20] jekinleeph opened #403 "How to build it for android？"
I use "mvnw package -P android" to package the project, but it failed. Are there any build documents about this project？

[2022-05-20 01:04] chenzhanfeng commented on #393
Yes Mac M1

[2022-05-20 01:05] chenzhanfeng commented on #393
Yes Mac M1

[2022-06-06 10:21] lostk1ng commented on #370
@normanmaurer Not much progress as quiche don't support  NEW_TOKEN frame yet. See： https://github.com/cloudflare/quiche/pull/1111

[2022-06-13 06:12] heixiaoma opened #404 "Browser cannot access test example address"
The browser cannot be accessed, but it can be determined that the browser supports http3

[2022-06-13 06:12] heixiaoma commented on #404
https://github.com/netty/netty-incubator-codec-http3/blob/main/src/test/java/io/netty/incubator/codec/http3/example/Http3ServerExample.java

[2022-06-16 06:40] silence934 commented on #404
I have the same question

[2022-06-16 08:02] heixiaoma commented on #404
With the latest version of curl, you can access

curl " https://127.0.0.1:9999/ " --http3 -I

[2022-06-23 08:29] dongdong2980 opened #405 "Method get() happened exception"
when i run example:QuicClientExample.java, "get()",  there is exception,

`            QuicChannel quicChannel = QuicChannel.newBootstrap(channel)
                    .streamHandler(new ChannelInboundHandlerAdapter() {
                        @Override
                        public void channelActive(ChannelHandlerContext ctx) {
                            // As we did not allow any remote initia

[2022-06-30 15:45] normanmaurer commented on #405
I am working on a fix... stay tuned

[2022-07-11 01:16] wujincheng2333 opened #413 "leak memory in jni"
29106:

Native Memory Tracking:

Total: reserved=2231MB, committed=839MB
-                 Java Heap (reserved=256MB, committed=112MB)
                            (mmap: reserved=256MB, committed=112MB)

-                     Class (reserved=1098MB, committed=83MB)
                            (classes #13491)
                            (malloc=6MB #30428)
                            (mmap: reserv

[2022-07-20 03:08] silence934 opened #415 "QuicheQuicServerCodec handler and streamHandler"
What is the difference between these two handlers

[2022-07-22 06:16] vovgou opened #416 "The QuicStreamChannel cannot be closed gracefully."
hi

When calling the close function of QuicStreamChannel on the client side, the client stream channel is closed normally, but the server stream channel will not be closed.

When calling the shutdown function of  QuicStreamChannel on the client side, the client stream channel will not be closed, but the server side stream channel can be closed.

        QuicSslContext context = QuicSslContextBuild

[2022-07-22 06:25] normanmaurer commented on #415
The `handler` is for the `QuicChannel` itself (quic connection) while the `streamHandler` is for the created `QuicStreamChannel`s (streams on top of the quic connection)

[2022-07-22 06:25] #415 closed

[2022-07-23 15:22] zhining-lu opened #418 "Where can I see the quiche version number ?"
Where can I see the quiche version number ？

[2022-07-24 07:30] chenzhiguo opened #419 "QuicStreamChannel best practice suggest"
In my use scenario such as RPC, is the life cycle of QuicStreamChannel equivalent to a request? Too many requests I need to create too many QuicStreamChannel? Will there be a relatively high cost?
In other words, put QuicStreamChannel in the pool, create a certain number of examples, and then repeat it?
How should I use it? Can you give the best practice?

@normanmaurer Thanks.

[2022-07-25 05:29] #419 closed

[2022-07-25 05:32] chenzhiguo commented on #419
Same #128

[2022-08-05 09:00] silence934 opened #420 "通过谷歌浏览器访问ERR_CONNECTION_REFUSED"
The official SSL certificate is used.
I can do this with curl
<img width="363" alt="image" src="https://user-images.githubusercontent.com/49453669/183041484-2239fa37-4550-4373-baa4-7093929c3993.png">
I used the parameter to force Google Chrome to use Quic to access the service:
<img width="777" alt="image" src="https://user-images.githubusercontent.com/49453669/183041745-971e55f3-81a8-40d4-b90a-c7

[2022-08-05 09:03] silence934 commented on #420
Sorry, the screenshot is wrong
<img width="820" alt="image" src="https://user-images.githubusercontent.com/49453669/183043007-d5c135be-cbbf-4ca3-ad73-65973dfcb124.png">

[2022-08-05 09:12] silence934 commented on #420
ERR_QUIC_PROTOCOL_ERROR，I can't get any more information than that。
I can confirm that my response message was sent

![Uploading image.png…]()

[2022-08-15 08:02] Jeffwan opened #422 "What's the benefit to use QUIC in netty?"
Can someone help explain the user scenario of QUIC in netty and what's the benefit we expect?

[2022-08-16 02:56] silence934 commented on #404
我也成功了 但是还是非常想通过浏览器访问，我在谷歌浏览器启动的时候，强制让浏览器使用quic访问我的服务，通过日志我可以看到浏览器与我的服务建立了链接，并且发送了数据，但是浏览器页面是这样的
![image](https://user-images.githubusercontent.com/49453669/184788675-54aff052-23e9-41d6-b676-2e661c2e2ef1.png)

[2022-08-16 03:13] heixiaoma commented on #420
我也是遇到同样的问题

[2022-08-16 03:16] silence934 commented on #420
有排查方向嘛

[2022-08-16 03:18] heixiaoma commented on #420
目前还没有，感觉需要像http2一样协商升级一样，网上也有用http3的网站，但是都是先走http2协议访问的最后才升级到http3的，你可以观察下，首次访问都是http2 最后才是http3

[2022-08-16 03:21] silence934 commented on #420
谷歌浏览器使用  --origin-to-force-quic-on  参数可以强制使用quic访问服务，我使用后的确是这样的，服务日志现实数据交互一切正常，只是浏览器显示ERR QUIC PROTOCOL ERROR

[2022-08-16 03:24] heixiaoma commented on #420
😂只有在看看，有时间在研究下，当时也是测试下

[2022-09-02 06:19] silence934 opened #425 "Zero copy support"
Is there any support for zero copy?
thank you

[2022-09-02 10:06] silence934 commented on #420
我已经可以在chroem中使用http3访问了，这是我的项目地址: [http3](https://github.com/silence934/http3  )

[2022-09-05 13:41] hyperxpro commented on #422
User Scenario: To use QUIC for their workload
Benefit: QUIC available in Netty for Java

[2022-09-15 13:34] momoUpUp opened #434 "Second TIME to run 'QuicClientZeroRTTExample',there is a exception"
When I run  QuicClientZeroRTTExample for the second time, there is a exception.

SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".
SLF4J: Defaulting to no-operation (NOP) logger implementation
SLF4J: See http://www.slf4j.org/codes.html#StaticLoggerBinder for further details.
九月 15, 2022 9:32:03 下午 io.netty.channel.DefaultChannelPipeline onUnhandledInboundException
警告: An exceptionCa

[2022-09-20 20:56] #212 closed

[2022-09-26 07:32] daschl commented on #422
@Jeffwan also it is going to be essential for good HTTP/3 support.

[2022-09-26 07:32] normanmaurer commented on #422
Yep QUIC is needed for HTTP/3.

[2022-09-26 07:32] #422 closed

[2022-11-02 08:15] zhining-lu opened #453 "How to get qlog file?"
How to set to get the qlog file

[2022-11-02 08:18] normanmaurer commented on #453
https://github.com/netty/netty-incubator-codec-quic/blob/0639dd0f042eadcfd30a9bb1c50a33d921ba8dae/codec-native-quic/src/test/java/io/netty/incubator/codec/quic/QuicChannelConnectTest.java#L131

[2022-11-02 08:18] #453 closed

[2022-11-03 03:03] zhining-lu opened #454 "Sometimes quickSreamChannel isWritable will always return false"
I use it to implement echo service, when I use multiple streams on a quic channel to send data for a long time, sometimes quickSreamChannel isWritable will return false on the server side, and it will not become true. I found that streams capability=0, so this problem should be a bug in quiche.

[2022-11-09 01:31] zhining-lu commented on #418
quiche version in pom file

[2022-11-09 01:31] #418 closed

[2022-11-09 07:38] normanmaurer commented on #418
Also its included in the MANIFEST

[2022-11-09 07:38] normanmaurer commented on #454
Please provide a reproducer

[2022-11-11 01:19] zhining-lu commented on #454
I'm trying to make it easier to reproduce

[2022-11-18 14:05] zhining-lu commented on #454
Thanks!

[2022-11-18 14:05] #454 closed